/*
Mmh Vibrator! transforms your phone into a sensual sextoy!
Copyright © 2014 firesex
mmhfiresex@gmail.com

This file is part of Mmh Vibrator!

Mmh Vibrator! is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

/*********** GLOBAL ***********/

html, body
{
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 100%;
	text-align: center;
}

body
{
	display: flex;
	flex-flow: column;
	background-color: #e887e8;
	color: white;
	text-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5);
}

p
{
	padding-left: 1%;
	padding-right: 1%;
}

header, footer
{
	flex-grow: 0;
	flex-shrink: 0;
}

header
{
	order: 0;
	margin-bottom: 1%;
}

footer
{
	order: 30;
	margin-top: auto;
}

footer p
{
	margin: 0;
	margin-top: 0.5%;
}

button
{
	color: white;
	text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
	background-color: rgba(255, 255, 255, 0.3);
	border: none;
	font-size: 1rem;
	font-style: normal;
	font-weight: bold;
	padding: 0.75rem;
	width: 100%;
}

button:active, button.active
{
	background-color: rgba(0, 0, 0, 0.5);
	text-shadow: 0 0 0.5rem white;
}

.text
{
	background-color: rgba(255, 255, 255, 0.2);
	min-height: 1.5rem;
}

.contents
{
	flex-grow: 1;
	flex-shrink: 1;
	order: 20;
	display: flex;
	flex-flow: column;
}

.contents article
{
	overflow: auto;
}

.hidden
{
	display: none !important;
}

ul.buttonList
{
	display: flex;
	flex-flow: row;
	justify-content: center;
	margin: 0;
	padding: 0;
	flex-wrap: wrap;
}

.buttonList li
{
	list-style: none;
	display: inline-block;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	border-left: 1px solid rgba(255, 255, 255, 0.75);
}

.buttonList li:first-child
{
	border-left: none;
}

.buttonList li:last-child
{
	border-right: none;
}

ul.buttonList.centpercent, .buttonList.centpercent li, .buttonList.centpercent button
{
	height: 100%;
	flex-wrap: nowrap;
}

/*********** MAIN HEADER ***********/

#mainHeader button
{
	font-size: 3rem;
}

#helpbtn
{
	padding-left: 0.5em;
	padding-right: 0.5em;
}

#mainHeader li:first-child
{
	width: 100%;
	text-align: left;
}

#mainHeader h1
{
	font-size: 2rem;
	margin-left: 1rem;
}

/*********** BATTERY ***********/

#battery
{
	margin-left: auto;
}

#battery button
{
	text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5) !important;
	background-color: rgba(0, 0, 0, 0) !important;
	font-size: 1.5rem !important;
}

/*********** HELP SECTION ***********/

#helpsec
{
	background: url(images/massage-resize.jpg) no-repeat bottom right;
	background-size: cover;
	text-align: justify;
}

#helpsec .buttonList li, #customization .buttonList li
{
	flex-grow: 1;
}

/*********** CUSTOMIZATION SECTION ***********/

#customization .text
{
	text-align: left;
}

ul#vibes
{
	text-align: left;
	margin: 0;
	padding: 0;
}

#vibes li
{
	display: flex;
	flex-flow: row;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}

#vibes li:first-child
{
	border-top: none;
}

#vibes li:nth-child(odd):before
{
	content: url(images/smartphone_navy-vibratemini.png);
	padding: 1%;
}

#vibes li:nth-child(even):before
{
	content: url(images/smartphone_navy-mini.png);
	padding: 1%;
}

#vibes input
{
	flex-grow: 1;
	background: url(images/edit.svg) no-repeat right, transparent;
	padding-right: 2rem;
	margin-right: 1%;
	border: none;
	height: 2.5em;
}

#vibes input:focus, #vibes input:hover
{
	background: rgba(255, 255, 255, 0.5);
}

#vibes button
{
	flex-grow: 0;
	flex-shrink: 0;
	border-left: 1px solid rgba(255, 255, 255, 0.75);
	margin-left: auto;
	width: auto;
}

button#addVibes
{
	border-top: 1px solid rgba(255, 255, 255, 0.75);
}

#customization article
{
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#customization footer
{
	border-top: 1px solid rgba(255, 255, 255, 0.75);
}

/*********** MAIN SECTION ***********/

#contents
{
	background: url(images/left1.svg) no-repeat left, url(images/right1.svg) no-repeat right;
}

#main
{
	flex-grow: 1;
	flex-shrink: 1;
	background: url(images/Glass_Dildo2.png) no-repeat center center;
	background-size: contain;
	margin: 0.5%;
}

#left, #right
{
	position: absolute;
}

#left
{
	left: 1%;
}

#right
{
	right: 1%;
}

#buttons, #description
{
	flex-grow: 0;
	flex-shrink: 0;
}

#description
{
	font-size: 1rem;
	margin: 0;
	padding: 0.25rem;
}

#buttons li
{
	border: none;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
}

#buttons button, #buttons button.unactive
{
	box-shadow: inset 0px 1px 1px 0px #ffd4f2;
	background: -moz-linear-gradient(center top, #ffa6d5 5%, #ef027d 100%);
	background-color: #ffa6d5;
	border-radius: 2rem;
	border: 1px solid #ee1eb5;
	font-size: 1rem;
	font-style: normal;
	text-shadow: 0.25rem 0.25rem 0.1rem #c70067;
}

#buttons button.active, #buttons button:active
{
	background: -moz-linear-gradient(center top, #ef027d 5%, #ffa6d5 100%);
	background-color: #ef027d;
}

/*********** ANIMATION ***********/

.vibrate
{
	animation-name: dildo;
	animation-duration: 2000ms;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state: running;
}
@keyframes dildo
{
	from
	{
		margin-right: 0;
		margin-left: 5%;
	}

	33%
	{
		margin-left: 0;
		margin-right: 10%;
	}

	67%
	{
		margin-right: 0;
		margin-left: 10%;
	}

	to
	{
		margin-left: 0;
		margin-right: 10%;
	}
}

